body,
html {
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: #444;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    border: solid white 1px;
    width: 90%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-container {
    width: 100%;
    color: #EEE;
    text-align: center;
    border-bottom: #222 solid 2px;
}

.game-field {
    background-color: #999;
    width: 100%;
    min-height: 80%;
    display: flex;
}

.player-side,
.computer-side {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.player-side {
    background-color: #e4e4e4;
}

.computer-side {
    background-color: #2f2f2f;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 80%;
    width: 50%;
}

.box {
    flex: 1 0 auto;
    width: 95%;
    border: solid black 1px;
}

.rock,
.paper,
.scissors {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.rock {
    background-image: url("./images/rock.jpg");
}
.paper {
    background-image: url("./images/paper.jpg");
}
.scissors {
    background-image: url("./images/scissors.jpg");
}
.bottom-text {
    color: white;
    height: 100%;
}
.score-container,
.game-messages {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
}

.score-container {
    font-size: 3rem;
}

.game-score,
.game-text {
    margin: 0;
}
