body,
html {
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: #444;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    border: solid white 1px;
    width: 90%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-container {
    width: 100%;
    color: #EEE;
    text-align: center;
    border-bottom: #222 solid 2px;
}

.game-field {
    background-color: #999;
    width: 100%;
    min-height: 80%;
    display: flex;
}

.player-side {
    background-color: #e4e4e4;
    height: 100%;
    width: 100%;
}

.computer-side {
    background-color: #2f2f2f;
    height: 100%;
    width: 100%;
}

.bottom-text {
    color: white;
    height: 100%;
}
.score-container,
.game-messages {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
}

.score-container {
    font-size: 3rem;
}

.game-score,
.game-text {
    margin: 0;
}
